{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Checkout Choices" %} | {{ block.super }}{% endblock %}

{% block main_container_box %}
<div class="container-box">
    <div class="row" style="padding-top:1em;">
        <div class="col-md-12">
            <h2 style="margin-top:0px;">{% trans "Change your conference settings" %}</h2>
        </div>
    </div>
</div>

<div class="container-box">
    <div class="row" style="padding-top:1em;">
        <div class="col-md-12">
            <p>{% trans 'Note: If you would like to change your tutorial form a morning session to an afternoon session (or vice versa), please send us an email to <a href="mailto:conference@pycon.sg">conference@pycon.sg</a> and tell us which tutorial you would like to attend. You can find all tutorials on the <a href="/schedule/">conference schedule</a> page.' %}</p>
            <form method="post" action=".">
                {% csrf_token %}
                {% include "partials/forms/form.html" %}
                <input class="btn btn-primary" type="submit" value="Save changes" /> or <a href="{% url "dashboard" %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
