{% load cms_tags i18n markitup_tags sekizai_tags static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}PyCon Singapore 2014{% endblock %} - pycon.sg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.css" %}?v2" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/bootstrap-modal.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" />
    {% block extrahead %}{% endblock %}
    {% render_block "css" %}

    {% comment %} We need it up here in order for the Markdown fields to work {% endcomment %}
    <script src="{% static "js/libs/jquery-1.9.1.js" %}"></script>
    {% block extra_jquery %}{% endblock %}
    <script src="{% static "js/libs/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "js/libs/bootbox.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-modal.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-modalmanager.js" %}"></script>
    <script src="{% static "django_libs/js/modals.js" %}"></script>

    {% comment %} Should be compressed {% endcomment %}
    <script src="{% static "js/general.js" %}"></script>
    {% block markitup_media %}{% markitup_media %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% cms_toolbar %}

    {% if request.user.is_impersonate %}
        {% include "impersonate/partials/impersonate_bar.html" %}
    {% endif %}

    {% include "partials/menu.html" %}

    <div style="padding-top: 60px;"></div>

    <div class="wrap"> {% comment %} See footer.less {% endcomment %}
        {% block main_header %}{% endblock %}

        {% block main_container %}
            <div class="container" style="margin-top:1em;">
                <div class="row">
                    <div class="col-md-12">
                        {% block main_container_box %}
                            <div class="container-box">
                                {% block main %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container" style="margin-top:1em;">
            {% include "partials/sponsors.html" %}
        </div>
    </div>

    {% block footer_container %}
        <footer class="bs-footer clearfix">
            <div class="container">
                {% block footer %}
                    {% include "partials/footer.html" %}
                {% endblock %}
            </div>
        </footer>
    {% endblock %}

    <div id="ajax-modal" class="modal fade" tabindex="-1"></div>
    {% block extra_modals %}{% endblock %}

    {% comment %}Further initialisations on sub pages. Should not be compressed{% endcomment %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    {% block extrajs %}{% endblock %}
    {% render_block "js" %}
</body>
</html>
