{% extends "base.html" %}
{% load cms_tags libs_tags pyconsg2_tags static %}

{% block main_header %}
<div class="home-header">
    <div class="container">
        <div class="col-md-6">
            <div class="header-box">
                {% placeholder header1 %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main_container %}
    <div class="container" style="margin-top:1em;">
        <h1 class="text-center">{% placeholder headline1 %}</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="container-box">
                    <div class="row">
                        <div class="col-md-8 countdown-content">
                            {% placeholder timer_box_content %}
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    {% days_until conference.start_date as days_until_ %}
                                    <p><span class="countdown">{{ days_until_ }}</span><br /> days</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% hours_until conference.start_date as hours_until_ %}
                                    <p><span class="countdown">{{ hours_until_ }}</span><br /> hours</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% minutes_until conference.start_date as minutes_until_ %}
                                    <p><span class="countdown">{{ minutes_until_ }}</span><br /> minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin: 1em 0px;">
                        <div class="col-md-12 text-center">
                            {% comment %}
                                <a href="/checkout/" class="btn btn-primary btn-lg">Get your ticket now!</a>
                                {% get_early_bird_count 100 as early_bird_count %}
                                <p class="text-muted" style="margin-top: 1em;">We have {{ early_bird_count }} early-bird tickets left</p>
                                {# <p class="text-muted" style="margin-top: 1em;">Early bird sales has been extended to Wednesday, June 4th!</p> #}
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-center">{% placeholder headline2 %}</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="container-box">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          {% placeholder default_content %}
                          <a class="btn btn-primary btn-lg" href="{% url "account_signup" %}">Create a user account now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-center">{% placeholder headline3 %}</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="container-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center"><img src="{% static "img/yves.jpg" %}" style="width:200px !important;"/></div>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top:1em;">{% placeholder keynote_speaker1 %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center"><img src="{% static "img/audrey.jpg" %}" style="width:200px !important;"/></div>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top:1em;">{% placeholder keynote_speaker2 %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center"><img src="{% static "img/daniel.jpg" %}" style="width:200px !important;"/></div>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top:1em;">{% placeholder keynote_speaker3 %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
