{% extends "base.html" %}
{% load cms_tags i18n %}

{% block main %}
    <h1>{% static_placeholder "group_checkout_title" or %}PyCon Singapore 2015 - Group Registration{% endstatic_placeholder%}</h1>

    <div class="row">
        <div class="col-md-6">
            <p>
                We are sorry, online ticket sales have been closed as of
                Tuesday, June 16th. Tutorial tickets for Wednesday cannot
                be purchased any more.
            </p>
            <p>
                If you would like to visit the conference on short notice, you
                can approach us at the registration counter near the Auditurium
                and bring the conference ticket fees of S$240 in cash. Please
                bring the exact amount as we will not have unlimited amounts of
                change available.
            </p>

            {% comment %}}
            <form class="form-horizontal" method="post" action=".">
                {% csrf_token %}

                {% include "partials/forms/form.html" with label_col=4 input_col=8 %}

                <div id="div_id_total" class="form-group  ">
                    <label for="id_total" class="col-md-4 control-label ">
                        {% trans "Total S$" %}
                    </label>
                    <div class="controls col-md-8">
                        <input type="text" id="id_total" disabled="disabled" value="0">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input class="btn btn-primary" id="payPalButton" type="submit" name="METHOD" value="{% trans "Checkout with PayPal" %}" />
                    </div>
                </div>
            </form>
            {% endcomment %}
        </div>
        <div class="col-md-6">
            {% comment %}}
            {% static_placeholder "group_checkout_content_right" or %}
            <p>{% trans "<strong>Conference tickets</strong> entitle your group members to attend the main conference on June 19-20." %}</p>
            <p>{% trans "Anyone can also attend up to two <strong>tutorials</strong> on June 18 (one in the morning and one in the afternoon). Check out the <a href='/schedule/list/' target='_blank'>Conference Talk List</a> to find out more about the tutorials." %}</p>
            <p>{% trans "Please note that tutorials might be canceled if we don't get enough participants. In that case, attendees can select another tutorial." %}</p>
            <p>{% trans "If you buy conference tickets at <strong>student rate</strong>, attendees need to show evidence of student ID at the conference registration." %}</p>
            <p>{% trans "In order to complete this <strong>group registration</strong> please send us a list of all attendants to <a href='mailto:conference@pycon.sg'>conference@pycon.sg</a>." %}</p>
            <p>{% trans "The list should include the following information about each attendee: full name, email, desired tutorials, t-shirt size, food preference (vegetarian or vegan). Please don't hesitate to contact us if you have any questions." %}</p>
            <p>{% trans "Please note that we will serve <strong>halal</strong> food." %}</p>
            {% endstatic_placeholder %}
            {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        function update_amount() {
            amount = 0;
            amount += $('#id_amount_conference_tickets').val() * {{ form.conference_item.value }};
            amount += $('#id_amount_student_tickets').val() * {{ form.student_item.value }};
            amount += $('#id_amount_tutorials').val() * {{ form.tutorial_item.value }};
            $('#id_total').val(amount);
        }

        $(document).ready(function() {
            $('#id_amount_conference_tickets').keyup(function() { update_amount(); });
            $('#id_amount_conference_tickets').change(function() { update_amount(); });

            $('#id_amount_student_tickets').keyup(function() { update_amount(); });
            $('#id_amount_student_tickets').change(function() { update_amount(); });

            $('#id_amount_tutorials').keyup(function() { update_amount(); });
            $('#id_amount_tutorials').change(function() { update_amount(); });
        });
    </script>
{% endblock %}
