{% extends "base.html" %}
{% load cms_tags i18n libs_tags %}

{% block main %}
    <h1>{% static_placeholder "set_checkout_title" or %}Your PyCon Singapore 2014 Ticket" {% endstatic_placeholder %}</h1>

    <form class="form-horizontal" method="post" action=".">
        <div class="row" style="margin-top:2em;">
            <div class="col-md-6">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% include "partials/forms/form_field.html" with field=form.student_rate label_col=4 input_col=8 %}

                <div class="form-group {% if form.conference_ticket.errors %}has-error {% endif %}">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                            {{ form.conference_ticket }} Conference Ticket (<span id="conferencePrice">S${{ form.conference_item.value }}</span><span id="conferencePriceStudent" style="display:none;">S${{ form.student_item.value }}</span>)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {% static_placeholder "checkout_content_right_conference" or %}
                    <p>The <strong>conference ticket</strong> entitles you to attend the main conference on June XX-XY.</p>
                    <p>If you buy a conference ticket at <strong>student rate</strong> you need to show evidence of student ID at the conference registration.</p>
                {% endstatic_placeholder %}
            </div>
        </div>

        <hr />

        <div class="row" style="margin-top:2em;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="inputEmail">{% trans "Tutorial price:" %}</label>
                    <div class="col-md-8" style="padding-top:7px;">
                        <span id="tutorialPrice">S$0.00</span>
                        <span>(Each session @ S${{ form.tutorial_item.value }})</span>
                    </div>
                </div>

                {% include "partials/forms/form_field.html" with field=form.tutorial_morning label_col=4 input_col=8 %}
                {% include "partials/forms/form_field.html" with field=form.tutorial_afternoon label_col=4 input_col=8 %}
            </div>
            <div class="col-md-6">
                {% static_placeholder "checkout_content_right_tutorials" or %}
                    <p>You can also attend up to two <strong>tutorials</strong> on June XX (one in the morning and one in the afternoon). Check out the <a href='/schedule/list/' target='_blank'>Conference Talk List</a> to find out more about the tutorials.</p>
                    <p>Please note that your tutorial of choice might be canceled if we don't get enough participants. In that case you can chose another tutorial.</p>
                {% endstatic_placeholder %}
            </div>
        </div>

        <hr />

        <div class="row" style="margin-top:2em;">
            <div class="col-md-6">
                {% include "partials/forms/form_field.html" with field=form.tshirt_size label_col=4 input_col=8 %}
                {% include "partials/forms/form_field.html" with field=form.food_choice label_col=4 input_col=8 %}

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input class="btn btn-primary" id="payPalButton" type="submit" name="METHOD" value="{% trans "Checkout with PayPal" %}" />
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-6">
            {% static_placeholder "checkout_content_right_food" or %}
                <p>If you would like to make a <strong>group registration</strong> please contact us at <a href='mailto:conference@pycon.sg'>conference@pycon.sg</a>.</p>
                <p>Please note that we will serve <strong>halal</strong> food.</p>
            {% endstatic_placeholder %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    $('#id_student_rate').click(function() {
        if($(this).is(':checked')) {
            $('#conferencePrice').hide();
            $('#conferencePriceStudent').show();
        } else {
            $('#conferencePrice').show();
            $('#conferencePriceStudent').hide();
        }
    });

    $("#id_tutorial_morning, #id_tutorial_afternoon").change(function() {
        if ($("#id_tutorial_morning").val() && $("#id_tutorial_afternoon").val()) {
            $("#tutorialPrice").text("S${{ form.tutorial_item.value|add:form.tutorial_item.value }}");
        } else if ($("#id_tutorial_morning").val() || $("#id_tutorial_afternoon").val()) {
            $("#tutorialPrice").text("S${{ form.tutorial_item.value }}");
        } else {
           $("#tutorialPrice").text("S$0.00");
        }
    });

</script>
{% endblock %}
