# =============================================================================
# Django packages
# =============================================================================
beautifulsoup4==4.3.2
-e git+https://github.com/pinax/django-mailer@44641b814660a9deef907ad9049d571cb1709901#egg=mailer
South==0.8.4
django-filer==0.9.5

# django-hvad==0.3
# Need to wait for the next release for django 1.6 compatibility
-e git+https://github.com/KristianOellegaard/django-hvad@0e2101f15404eaf9611cd6cf843bfc424117b227#egg=hvad

django-libs==1.53
django==1.6.1
django-paypal-express-checkout==1.7
django-impersonate==0.8.1
django-influxdb-metrics==0.3.1


# =============================================================================
# django-cms related packages
# =============================================================================
django-mptt==0.6
# -e git+https://github.com/divio/django-cms@bfcbef3c05a473650f4e05fd60ea8fbfb4cf42bf#egg=cms
django-cms==3.0.1
cmsplugin-filer==0.9.5
cmsplugin-template-placeholder==0.1
django-multilingual-news==2.0.2
django-document-library==1.0
django-people==1.0
django-multilingual-tags==0.4
djangocms-admin-style==0.1.4
djangocms-text-ckeditor==2.1.4


# =============================================================================
# symposion related packages
# =============================================================================
-e git+https://github.com/mbrochh/symposion@f2176f5ec4805cea8a0f6fd59e8aa93d8353168e#egg=symposion
Pillow==2.3.0
django-markitup==2.1
django-model-utils==2.0

# django-reversion<1.8
# use commits from the django-1.6 branch!!
-e git+https://github.com/etianen/django-reversion@f3d20edf96adbb15a1970d3826d6ce8a82021048#egg=reversion

django-taggit==0.11.2
django-timezones==0.2
django-user-accounts==1.0b7
easy-thumbnails==1.4
markdown==2.3.1
metron==1.3.1 # 0.2.dev3


# =============================================================================
# Useful packages for local development
# =============================================================================
Fabric==1.8.1
Sphinx==1.2
coverage==3.7.1
django-coverage==1.2.4
django-debug-toolbar==1.0.1
django-development-fabfile==2.7.3
django-extensions==1.3.1
django-nose==1.2
factory_boy==2.3.0
flake8==2.1.0
ipdb==0.8
ipython==1.1.0
mock==1.0.1
psycopg2==2.5.2
