-e git+git://github.com/pinax/django-mailer.git@919805e25fc18b06487b25414d4e5d5e05a92108#egg=mailer
South==0.8.2
django-admin-honeypot==0.2.3
django-honeypot-signals==0.1.1
django-libs==1.23
django==1.5.4
django-filer==0.9.5
django-hvad==0.3
django-multilingual-news==1.0
cmsplugin-filer==0.9.5
-e git+https://github.com/divio/django-cms@76c7a7c57e0d29e6dd10ec0db5a9ebc5b48c6198#egg=cms
djangocms-text-ckeditor==2.0.2
djangocms-admin-style==0.1.4


# =============================================================================
# Useful packages for local development
# =============================================================================
Fabric==1.8.0
Pillow==2.1.0
Sphinx==1.1.3
coverage==3.6
django-coverage==1.2.4
django-debug-toolbar==0.9.4
django-development-fabfile==0.9
django-extensions==1.2.2
django-nose==1.2
factory_boy==2.2.1
flake8==2.0
ipdb==0.8
ipython==1.1.0
mock==1.0.1
psycopg2==2.5.1
