{% extends "reviews/base.html" %}
{% load i18n %}

{% block main %}
    <div class="container-box">
        <h1>{{ section }}</h1>
        {% if reviewed == 'all_reviews' %}
            <h2>{% trans "All proposals" %}</h2>
        {% elif reviewed == 'user_reviewed' %}
            <h4>{% trans "Proposals you have reviewed" %}</h4>
        {% else %}
            <h4>{% trans "Proposals you have not yet reviewed" %}</h4>
        {% endif %}

        {% include "reviews/_review_table.html" %}
    </div>
{% endblock %}
