{% extends "reviews/base.html" %}
{% load i18n %}

{% block main %}
    <h1>{% trans "Bulk Accept" %}</h1>
    <form role="form" action="" method="POST" class="uniForm" accept-charset="utf-8">
        {% csrf_token %}
        {% include "partials/forms/form.html" with label_col=2 input_col=6 %}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input class="btn btn-primary" type="submit" name="submit" value="{% trans "Submit" %}" />
            </div>
        </div>
    </form>
{% endblock %}
