{% load cms_tags i18n multilingual_news_tags %}
<div class="row">
    <div class="col-md-3">
        <h4>{% static_placeholder "footer_column1_title" or %}{% trans "About" %}{% endstatic_placeholder %}</h4>
        {% static_placeholder "footer_column1_content" or %}TODO: Add content here{% endstatic_placeholder %}
        <hr class="visible-xs visible-sm" />
    </div>
    <div class="col-md-3">
        <h4>{% static_placeholder "footer_column2_title" or %}{% trans "When & Where" %}{% endstatic_placeholder %}</h4>
        {% static_placeholder "footer_column2_content" or %}TODO: Add content here{% endstatic_placeholder %}
        <hr class="visible-xs visible-sm" />
    </div>
    <div class="col-md-3">
        <h4>{% static_placeholder "footer_column3_title" or %}{% trans "Latest News" %}{% endstatic_placeholder %}</h4>
        {% get_recent_news as recent_news %}
        <ul class="list-unstyled">
            {% for news in recent_news %}
            <li><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
            {% endfor %}
        </ul>
        <hr class="visible-xs visible-sm" />
    </div>
    <div class="col-md-3">
        <h4>{% static_placeholder "footer_column4_title" or %}{% trans "Get social" %}{% endstatic_placeholder %}</h4>
        {% static_placeholder "footer_column4_content" or %}TODO: Add content here{% endstatic_placeholder %}
    </div>
</div>
