{% load libs_tags pyconsg2_tags %}

{% get_form_field_type field as field_type %}
{% if "CheckboxInput" in field_type %}
    {% include "partials/form_field_checkbox.html" %}
{% else %}
    <div class="form-group {% if field.errors %}has-error {% endif %}">
        <label for="{{ field.id_for_label }}" class="col-sm-{{ label_col }} control-label">{{ field.label }}</label>

        <div class="col-sm-{{ input_col }}">
            {% add_form_widget_attr field 'class' 'form-control' as field_ %}
            {{ field_ }}

            {% include "partials/form_field_errors.html" %}
            {% include "partials/form_field_help_text.html" %}
        </div>
    </div>
{% endif %}
