<div class="form-group {% if field.errors %}has-error {% endif %}">
    <label for="{{ field.id_for_label }}" class="col-sm-{{ label_col }} control-label">{{ field.label }}</label>

    <div class="col-sm-{{ input_col }}">
        <input class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.placeholder }}">

        {% if field.errors %}
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.errors }}</label>
        {% endif %}

        {% if field.help_text %}
            <span class="help-block">{{ field.help_text %}</span>
        {% endif %}
    </div>
</div>
