{% load i18n menu_tags static %}

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="{% static "img/pyconsg-logo.png" %}" style="width:200px;" /></a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                {% show_menu 0 100 100 100 %}
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Profile" %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
                            {% if request.user.is_superuser %}
                                <li class=""><a href="{% url "admin:index" %}">{% trans "Django admin" %}</a></li>
                                <li class=""><a href="{% url "impersonate-search" %}">{% trans "Impersonate user" %}</a></li>
                            {% endif %}
                            <li><a href="{% url "account_logout" %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a class="font-navbar" href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
                    <li><a href="{% url "account_login" %}">{% trans "Log in" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
