{% load sponsorship_tags static thumbnail %}
<div class="row" style="margin-bottom:2em;">
    <div class="col-md-12 text-center">
        <h1 class="text-center" style="margin-bottom:1em;">Sponsored by:</h1>
        <p>We are looking for sponsors! If you can help making PyCon SG a success, please message us at <a href="mailto:conference@pycon.sg">conference@pycon.sg</a></p>
        <a class="sponsor" href="https://www.braintreepayments.com" target="_blank"><img style="width:210px;" src="{% static "img/sponsor-braintree.jpg" %}" alt="Platinum Sponsor: Braintree - A PayPal Company"></a>
        <a class="sponsor" href="https://bitmazk.com/" target="_blank"><img style="width:210px;" src="{% static "img/sponsor-bitmazk.jpg" %}" alt="Silver Sponsor: Bitmazk"></a>
        <a class="sponsor" href="https://carousell.com/" target="_blank"><img style="width:210px;" src="{% static "img/sponsor-carousell.jpg" %}" alt="Silver Sponsor: Carousell"></a>
        {% comment %}
        <a class="sponsor" href="http://www.heroku.com"><img src="{% static "img/sponsor-heroku.jpg" %}" alt="Platinum Sponsor: Heroku"></a>
        <a class="sponsor" href="http://www.odd-e.com/"><img src="{% static "img/sponsor-odde.jpg" %}" alt="Gold Sponsor: Odd-e"></a>
        <a class="sponsor" href="https://www.zopim.com/"><img src="{% static "img/sponsor-zopim.jpg" %}" alt="Gold Sponsor: Zopim"></a>
        <a class="sponsor" href="http://www.oracle.com/"><img src="{% static "img/sponsor-oracle.jpg" %}" alt="Silver Sponsor: Oracle"></a>
        <a class="sponsor" href="http://continuum.io/"><img src="{% static "img/sponsor-continuum.jpg" %}" alt="Silver Sponsor: Continuum Analytics"></a>
        {% endcomment %}
    </div>
</div>
