{% load static %}
<div class="row" style="margin-bottom:2em;">
    <div class="col-md-12 text-center">
        <h1 class="text-center" style="margin-bottom:1em;">Sponsored by:</h1>
        <a class="sponsor" href="http://www.sp.edu.sg/wps/portal/vp-spws"><img src="{% static "img/sponsor-sp.jpg" %}" alt="Plantinum Sponsor: Singapore Polytechnic"></a>
        <a class="sponsor" href="http://www.heroku.com"><img src="{% static "img/sponsor-heroku.jpg" %}" alt="Platinum Sponsor: Heroku"></a>
        <a class="sponsor" href="http://www.odd-e.com/"><img src="{% static "img/sponsor-odde.jpg" %}" alt="Gold Sponsor: Odd-e"></a>
        <a class="sponsor" href="https://www.zopim.com/"><img src="{% static "img/sponsor-zopim.jpg" %}" alt="Gold Sponsor: Zopim"></a>
        <a class="sponsor" href="http://www.oracle.com/"><img src="{% static "img/sponsor-oracle.jpg" %}" alt="Silver Sponsor: Oracle"></a>
        <a class="sponsor" href="http://continuum.io/"><img src="{% static "img/sponsor-continuum.jpg" %}" alt="Silver Sponsor: Continuum Analytics"></a>
    </div>
</div>
