// Colors
@body-bg: #F9F9F9;
@header-bg: #F5E9AF;
@brand-primary: #207CCA;
@gray-light2: lighten(#000, 85%);
@navbar-inverse-link-color: @gray-light2;
@white: #FFFFFF;


// When should the navbar shrink?
@grid-float-breakpoint: @screen-md;


// Global layout variables
@box-margin: 30px;
@content-padding: 15px;


// Media queries breakpoints
// --------------------------------------------------
@screen-lg:                  999999px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;
