{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block main %}
    <h1>{% trans "Change password" %}</h1>
    <form method="POST" action="">
        <fieldset>
            {% csrf_token %}
            {% include "partials/forms/form.html" %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
