{% extends "base.html" %}
{% load i18n static %}

{% block head_title %}{% trans "Presentation" %}: {{ presentation.title }}{% endblock %}
{% block extrahead %}
{% if presentation.speaker.photo %}
  <meta property="og:image" content="{{ BASE_URL }}{% static presentation.speaker.photo.url %}" />
{% else %}
  <meta property="og:image" content="{{ BASE_URL }}{% static "img/header.jpg" %}" />
{% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3 text-center">
            {% include "partials/avatar.html" with photo=presentation.speaker.photo name=presentation.speaker %}

            <h4>
                {% for speaker in presentation.speakers %}
                    <a href="{% url "speaker_profile" speaker.pk %}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            </h4>

            <h5>
                {% trans "Audience level" %}:</br>
                {{ presentation.proposal.get_audience_level_display }}
            </h5>


            {% if presentation.slot %}
                <h5>
                    {{ presentation.slot.day.date|date:"l" }}</br>
                    {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                </h5>
            {% endif %}
        </div>
        <div class="col-md-9">
            <h2>{{ presentation.title }}</h2>
            <h3>{% trans "Description" %}</h3>
            <div class="description">{{ presentation.description }}</div>
            <h3>{% trans "Abstract" %}</h3>
            <div class="abstract">{{ presentation.abstract|safe }}</div>
        </div>
    </div>
{% endblock %}
