{% extends "base.html" %}
{% load i18n %}
{% load pyconsg2_tags %}

{% block head_title %}{% trans "Presentation Listing" %}{% endblock %}

{% block extrahead %}
    <style>
        .presentation {

        }
        .presentation h3 {
            line-height: 1.1em;
            font-weight: bold;
        }
        .presentation h4 {

        }
        .presentation p {
            margin-bottom: 0.5em;
            line-height: 1.2em;
        }
    </style>
{% endblock %}

{% block main_container_box %}
    <div class="container-box">
        <div class="row" style="padding-top:1em;">
            <div class="col-md-12">
                <h2>
                    {% blocktrans with section_name=schedule.section.name %}
                    Accepted tutorials
                    {% endblocktrans %}
                </h2>
            </div>
        </div>
    </div>

    <div class="container-box">
        {% for presentation in presentations %}
            {% if presentation.proposal.proposal_type == 'Tutorial' %}
                {% include "schedule/_list_entry.html" %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-box">
        <div class="row" style="padding-top:1em;">
            <div class="col-md-12">
                <h2>
                    {% blocktrans with section_name=schedule.section.name %}
                    Accepted talks
                    {% endblocktrans %}
                </h2>
            </div>
        </div>
    </div>

    <div class="container-box">
        {% for presentation in presentations %}
            {% if presentation.proposal.proposal_type == 'Talk' %}
                {% include "schedule/_list_entry.html" %}
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
