{% extends "base.html" %}
{% load cache i18n cms_tags %}

{% block head_title %}{% trans "Conference Schedule" %}{% endblock %}

{% block body_class %}full{% endblock %}

{% block main %}
    <h1>{{ schedule.section }} Schedule</h1>
    {% static_placeholder "schedule_top_"|add:schedule.section.name|slugify %}
    
    {% for timetable in days %}
        <h3>{{ timetable.day.date }}</h3>
        {% include "schedule/_grid.html" %}
    {% endfor %}

    {% static_placeholder "schedule_bottom" %}
{% endblock %}
