{% extends "base.html" %}
{% load cache i18n %}
{% load pyconsg2_tags %}

{% block head_title %}{% trans "Presentation Listing" %}{% endblock %}

{% block extrahead %}
    <style>
        .presentation {

        }
        .presentation h3 {
            line-height: 1.1em;
            font-weight: bold;
        }
        .presentation h4 {

        }
        .presentation p {
            margin-bottom: 0.5em;
            line-height: 1.2em;
        }
    </style>
{% endblock %}

{% block main_container_box %}
    <div class="container-box">
        <div class="row" style="padding-top:1em;">
            <div class="col-md-12">
                <h2>
                    {% blocktrans with section_name=schedule.section.name %}
                    Accepted tutorials
                    {% endblocktrans %}
                </h2>
            </div>
        </div>
    </div>

    <div class="container-box">
        {% for presentation in presentations %}
            {% if presentation.proposal.proposal_type == 'Tutorial' %}
                <div class="row">
                    <div class="col-md-12 presentation well">
                        <h3><a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a></h3>
                        <h4>{{ presentation.speakers|join:", " }}</h4>
                        {{ presentation.description }}
                        {% if presentation.slot %}
                            <h4>
                                {{ presentation.slot.day.date|date:"l" }}
                                {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                                in
                                {{ presentation.slot.rooms|join:", " }}
                            </h4>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
