{% extends "base.html" %}
{% load i18n static %}

{% block head_title %}{% trans "Conference Schedule Edit" %}{% endblock %}

{% block extra_jquery %}
    <script src="{% static "js/libs/jquery-migrate-1.0.0.js" %}"></script>
{% endblock %}

{% block body_class %}full{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "chosen/chosen.css" %}" />
{% endblock %}

{% block main %}
    <h1>{% trans "Schedule Edit" %}</h1>
    {% for timetable in days %}
        <h2>{{ timetable.day.date }}</h2>
        {% include "schedule/_edit_grid.html" %}
    {% endfor %}
    <div class="modal fade hide in" id="slotEditModal"></div>
{% endblock %}

{% block extrajs %}
<script src="{% static "chosen/chosen.jquery.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("a.edit-slot").click(function(e) {
                $("#slotEditModal").load($(this).data("action"), function() {
                    $("#id_presentation").chosen();
                    $("#slotEditModal").modal("show");
                });
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
